@import "Services-intro";

.header {
  background: transparent linear-gradient(255deg, #254B85 0%, #20315B 100%) 0% 0% no-repeat padding-box;
  padding: 0 10%;
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
}

.Services {
  
}
