@import "../../Slide.scss";

.Home-products {
  background: #1e2040;
  padding-top: 3.125rem;
  position: relative;
  overflow: hidden;

  .header1 {
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.813rem;
    font-weight: 500;
    margin-bottom: 1.438rem;
  }

  .card {
    &-title {
      margin-bottom: 3rem;
    }

    .paragraph {
      line-height: 1.5rem;
      letter-spacing: 0.38px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .cards-row-container {
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 4rem;

    .cards-row {
      display: flex;
      justify-content: space-between;
      transition: transform 0.3s;
      .card {
        min-width: 90vw;
        margin-right: 5.5rem;
      }
    }
  }

  .top-right-points,
  .top-right-diamond-points,
  .left-center-points {
    display: none;
  }

  @media (min-width: $tablet) {
    .cards-row-container .cards-row .card {
      min-width: 450px;
    }
  }

  @media (min-width: $small-desktop) {
    background: transparent linear-gradient(56deg, #21325d 0%, #214c93 100%) 0%
      0% no-repeat padding-box;
    padding-top: 2.813rem;

    .header1 {
      color: white;
      text-align: center;
      text-transform: uppercase;
      line-height: 5.375rem;
      margin: 0;
      margin-bottom: 6.25rem;
    }

    .cards-row-container .cards-row .card {
      min-width: 350px;
    }

    .top-right-points {
      display: block;
      position: absolute;
      height: 124px;
      width: 371px;
      top: 4px;
      right: 167px;
    }

    .top-right-diamond-points {
      display: block;
      position: absolute;
      height: 194px;
      width: 194px;
      top: 56px;
      right: -32px;
    }

    .left-center-points {
      display: block;
      position: absolute;
      height: 335px;
      width: 390px;
      top: 192px;
      left: -145px;
    }
  }
}
