.Home-about-us {
  padding: 0 $home-padding;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 5.188rem;
  overflow: hidden;
  margin-top: 1rem;

  &-text {
    position: relative;
    margin-top: 9.75rem;
    .header2 {
      margin: 0;
      text-transform: uppercase;
    }
    .header1 {
      margin: 0 0 3rem 0;
      text-transform: uppercase;
      font-weight: 600;
    }
    .paragraph {
      margin-left: 3.25rem;
      max-width: 450px;
    }
    .processor {
      position: absolute;
      width: 55vw;
      height: 45vw;
      top: -110px;
      right: -190px;
    }
  }

  &-items {
    margin-top: 6.25rem;
  }

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 $home-mobile-padding;

    &-text {
      margin: 0;
      margin-top: 4.125rem;
      .header2 {
        text-align: center;
        font-size: 1.125rem;
        line-height: 1.688rem;
        font-weight: 400;
        color: #757474;
      }
      .header1 {
        color: #757474;
        font-size: 2.125rem;
        text-align: center;
        line-height: 3.188rem;
        margin-bottom: 1.063rem;
        font-weight: 400;
        letter-spacing: -1px;
      }
      .paragraph {
        color: #757474;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0.58px;
        margin: 0;
        font-weight: 400;
        max-width: 100%;
      }
      .processor {
        position: static;
        width: 70vw;
        height: 50vw;
        min-width: 360px;
        min-height: 300px;
        margin-left: auto;
        margin-top: 1.5rem;
        margin-right: -5rem;
      }
    }

    &-items {
      margin-top: 7.5rem;
      margin-bottom: 1.313rem;
    }
  }
}
