.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  &-info {
    margin-left: 2.75rem;
    .avatar-name {
      margin: 0;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 4rem;
      color: #1e2040;
      text-transform: uppercase;
    }

    .avatar-description {
      margin: 0;
      font-weight: 400;
      font-size: 1rem;
      line-height: 2rem;
      color: #101126;
    }
  }

  @media (max-width: $phone) {
    margin-bottom: 2.313rem;
    position: relative;

    .avatar-photo {
      background-color: #1e2040;
      width: 48px;
      height: 48px;
      position: absolute;
      top: -9px;
    }

    &-info {
      margin: 0;
      .avatar-name {
        color: #1e2040;
        font-size: 1.438rem;
        display: block;
        margin-left: 60px;
        line-height: 1.938rem;
        margin-bottom: 1.625rem;
      }

      .avatar-description {
        letter-spacing: 0.5px;
        color: #747474;
        font-size: 1.313rem;
      }
    }
  }
}

.avatar-photo {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: #707070;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
