.card {
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  width: 350px;
  padding: 1.5rem;
  padding-bottom: 3rem;
  transition: 0.3s;
  box-sizing: border-box;
  cursor: pointer;

  &-title {
    color: #1e2040;
    font-size: 1.5rem;
    margin: 2.25rem 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 3rem;
  }

  .avatar-photo {
    margin: 0 auto;
    height: 79px;
    width: 79px;
    background-color: #464a9147;
    .card-icon {
      fill: #1e2040;
    }
  }

  &:active {
    transform: scale(0.98);
  }

  &.active {
    background-color: #1e2040;
  }

  &.active {
    color: white;
    .card-title,
    .paragraph {
      color: white;
    }
  }

  &.active {
    .avatar-photo {
      background-color: #464a91b8;
      .card-icon {
        fill: white;
      }
    }
  }

  @media (min-width: $small-desktop) {
    &:hover:not(.active) {
      background-color: rgba($color: #1e2040, $alpha: 0.7);
    }

    &:hover {
      color: white;
      .card-title,
      .paragraph {
        color: white;
      }
    }

    &:hover {
    .avatar-photo {
      background-color: #464a91b8;
      .card-icon {
        fill: white;
      }
    }
  }
  }

  @media (max-width: $tablet) {
    &-title {
      font-size: 1.313rem;
    }

    .paragraph {
      font-size: 1.188rem;
    }
  }
}
