.contact-section {
  display: flex;
  margin-top: 10.25rem;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;

  .left-bottom-points {
    position: absolute;
    bottom: -130px;
    left: -75px;
    transform: rotate(90deg);
  }

  .contact-text {
    position: relative;
    padding-top: 5.313rem;
    padding-bottom: 13.44rem;
    width: 40vw;

    .bold {
      display: block;
      font-size: 2.5rem;
      line-height: 3rem;
      letter-spacing: 0px;
    }
    .header2 {
      text-transform: uppercase;
      font-weight: 400;
      color: white;
      text-align: left;
      letter-spacing: 0px;
      z-index: 1;
      position: relative;
      margin-bottom: 192px;
    }

    .social-media {
      margin-bottom: 4.813rem;
      .paragraph {
        color: white;
        text-transform: uppercase;
        font-size: 1.75rem;
        margin-bottom: 3.125rem;
      }
      .social-icons {
        display: flex;
        justify-content: space-between;
        max-width: 260px;
        .social-icon {
          fill: white;
        }
      }
    }

    .contact-info {
      margin-left: 50px;
      color: white;

      .contact-phone {
        margin: 0;
        font-size: 1.313rem;
        line-height: 2.625rem;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 2rem;
      }

      .paragraph {
        font-size: 1.313rem;
        margin: 0;
        color: white;
        line-height: 2rem;
        font-weight: 400;
      }
    }

    .center-points {
      position: absolute;
      width: 327px;
      top: 122px;
      right: 0;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 47vw;
    background-color: white;
    padding-left: 8.14%;
    padding-top: 10.94rem;
    padding-right: 14.55%;
    padding-bottom: 2rem;
    position: relative;

    .btn[type="submit"] {
      margin-top: 1.5rem;
      width: fit-content;
      align-self: flex-end;
    }

    .input-group {
      transition: opacity 0.3s;
    }

    &.loading {
      .input-group,
      .btn[type="submit"] {
        opacity: 0.25;
      }
    }

    &.hidden {
      .input-group,
      .btn[type="submit"] {
        opacity: 0;
        visibility: hidden;
      }
    }

    .error,
    .success {
      position: absolute;
      top: 30%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      &.active {
        opacity: 1;
      }
      .paragraph {
        text-align: center;
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 2.625rem;
        letter-spacing: 0px;
      }
    }

    .error .buttons {
      display: flex;
      .light-button {
        margin-right: 1rem;
        max-width: 300px;
        margin-top: 1rem;
        color: $primary-color;
        border-color: $primary-color;
        background-color: transparent;
      }

      .btn-primary {
        max-width: 300px;
        margin-top: 1rem;
      }
    }
  }

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 $home-mobile-padding;
    .contact-text {
      padding: 0;
      order: 1;
      width: 100%;
      .header2 {
        display: none;
      }

      .social-media {
        margin-top: 7.188rem;
        .paragraph {
          text-align: center;
          font-size: 1.75rem;
          color: #1e2040;
          margin: 0;
        }
        .social-icons {
          max-width: 360px;
          margin: 0 auto;
          padding: 0 38px;
          text-align: center;
          margin-top: 39px;
          .social-icon {
            fill: $primary-color;
            opacity: 0.59;
          }
        }
      }

      .contact-info {
        display: none;
      }
    }

    .contact-form {
      padding: 0;
      order: 0;
      width: 100%;
      padding-top: 4.438rem;

      .error .buttons {
        flex-direction: column;
        .light-button {
          margin-right: 0;
        }
      }
    }

    .left-bottom-points,
    .center-points {
      display: none;
    }
  }
}
