.slide-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 0 auto;
  user-select: none;

  .arrow-left,
  .arrow-right {
    cursor: pointer;
    transition: opacity 0.1s;
    &:active:not(.disabled) {
      img {
        transform: translateX(10px);
      }
    }
    &.disabled {
      cursor: not-allowed;
      opacity: 0.25;
    }
    img {
      transition: transform 0.1s;
    }
  }

  .arrow-left {
    margin-top: -1px;
    &:active:not(.disabled) {
      img {
        transform: rotate(180deg) translateX(10px);
      }
    }
    img {
      transform: rotate(180deg);
    }
  }
}
