.header1 {
  color: #1e2040;
  letter-spacing: -1px;
  line-height: 6rem;
  font-weight: 700;
  font-size: 4rem;
}

.header2 {
  margin: 0;
  color: #1e2040;
  line-height: 3rem;
  font-weight: 600;
  font-size: 2rem;
}

.header3 {
  color: #1e2040;
  line-height: 3rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.paragraph {
  color: #101126;
  line-height: 2rem;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}
