@keyframes slide-down {
  from {
    margin-top: 5rem;
  }

  to {
    margin-top: 0;
  }
}

@keyframes slide-up {
  from {
    margin-top: -5rem;
  }

  to {
    margin-top: 0;
  }
}

.slide {
  &-down.active {
    animation: slide-down 0.5s;
  }
  &-up.active {
    animation: slide-up 0.5s;
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translateY(-30px);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translateY(-15px);
  }

  90% {
    transform: translateY(-4px);
  }
}

.bounce {
  cursor: pointer;
  &:hover {
    svg {
      animation: bounce 0.8s linear alternate;
    }
  }
}
