@import "Typography";
@import "Animations.scss";
@import "variables";

@import "components/Input";
@import "components/Button";
@import "components/LightButton";
@import "components/Header";
@import "components/Footer";
@import "components/Logo";

html {
  font-family: "Work Sans";
  font-size: 16px;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Black"),
    url(/assets/fonts/seguibl.ttf) format("truetype");
  font-weight: 800;
}

.arrow-scroll {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  cursor: pointer;
  img {
    position: absolute;
    bottom: -5px;
  }
}

.no-overflow {
  overflow: hidden !important;
}
